

.images {
    display: grid;
    grid-row: 1;
    grid-template-columns: repeat(4, 1fr);
    width: 50%;
    max-width: 1200px;
    max-height: 20px;
    margin: 0 auto;
    gap: 10px;
}


img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.correct {
    border: 5px solid #00dd51;
    max-width: 100%;
    height: auto
}

.selected {
    border: 5px solid #090000;
}

button {
    position: absolute;
    top: 5%;
    right: 5%;
}

.lives {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 2;
    width: 10%
}

#life1 {
    opacity: 1;
}

#life2 {
    opacity: 1;
}

#life3 {
    opacity: 1;
}

#life4 {
    opacity: 1;
}