.images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    max-width: 1200px;
    max-height: 20px;
    margin: 0 auto;
}


img {
    max-width: 100%;
    height: auto;
}

button {
    position: absolute;
    top: 5%;
    right: 5%;
}