<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visual Connections</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <h1 id="title">Visual Connections</h1>
    <div class="images">
      <img
        src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
        id="1"
      />
      <img
        src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
        id="2"
      />
      <img
        src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
        id="3"
      />
      <img
        src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
        id="4"
      />
      <img
        src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
        id="5"
      />
      <img
        src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
        id="6"
      />
      <img
        src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
        id="7"
      />
      <img
        src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
        id="8"
      />
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/022/825/533/small/orange-fruit-orange-on-transparent-background-free-png.png"
        id="9"
      />
      <img
        src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
        id="10"
      />
      <img
        src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
        id="11"
      />
      <img
        src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
        id="12"
      />
      <img
        src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
        id="13"
      />
      <img
        src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
        id="14"
      />
      <img
        src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
        id="15"
      />
      <img
        src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
        id="16"
      />
    </div>
    <div class="lives">
      <img
        id="life1"
        src="https://static.vecteezy.com/system/resources/thumbnails/033/034/173/small_2x/pixel-heart-pixel-art-illustration-8-bit-heart-icon-red-heart-pixel-graphic-video-game-heart-icon-vector.jpg"
      />
      <img
        id="life2"
        src="https://static.vecteezy.com/system/resources/thumbnails/033/034/173/small_2x/pixel-heart-pixel-art-illustration-8-bit-heart-icon-red-heart-pixel-graphic-video-game-heart-icon-vector.jpg"
      />
      <img
        id="life3"
        src="https://static.vecteezy.com/system/resources/thumbnails/033/034/173/small_2x/pixel-heart-pixel-art-illustration-8-bit-heart-icon-red-heart-pixel-graphic-video-game-heart-icon-vector.jpg"
      />
      <img
        id="life4"
        src="https://static.vecteezy.com/system/resources/thumbnails/033/034/173/small_2x/pixel-heart-pixel-art-illustration-8-bit-heart-icon-red-heart-pixel-graphic-video-game-heart-icon-vector.jpg"
      />
    </div>
    <button id="submitbtn">submit</button>
    <button id="shufflebtn">shuffle</button>
    <button id="forfeitbtn">forfeit</button>
    <script src="static/script.js"></script>
  </body>
</html>
